<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yonyong.dao.StaffDao">

    <!-- 查全部 -->
    <select id="queryStaffs" resultType="cn.yonyong.pojo.User">
        SELECT
            StaffID          AS staffID,
            StaffName        AS staffName,
            StaffGender      AS staffGender,
            StaffBirthday    AS staffBirthday,
            StaffIDCard      AS staffIDCard,
            AttendanceStatus AS attendanceStatus,
            StaffDept        AS staffDept,
            StaffTel         AS tel,
            StaffPwd         AS password,
            StaffPosition    AS staffPosition,
            HireDate         AS hireDate
        FROM user
        ORDER BY HireDate DESC
    </select>

    <!-- 按ID查 -->
    <select id="queryStaffByID" resultType="cn.yonyong.pojo.User">
        SELECT
            StaffID          AS staffID,
            StaffName        AS staffName,
            StaffGender      AS staffGender,
            StaffBirthday    AS staffBirthday,
            StaffIDCard      AS staffIDCard,
            AttendanceStatus AS attendanceStatus,
            StaffDept        AS staffDept,
            StaffTel         AS tel,
            StaffPwd         AS password,
            StaffPosition    AS staffPosition,
            HireDate         AS hireDate
        FROM user
        WHERE StaffID = #{staffID}
        LIMIT 1
    </select>

    <select id="countByStaffID" resultType="int">
        SELECT COUNT(1) FROM user WHERE StaffID = #{staffID}
    </select>

    <select id="countByTel" resultType="int">
        SELECT COUNT(1) FROM user WHERE StaffTel = #{tel}
    </select>

    <select id="countByTelExcludeID" resultType="int">
        SELECT COUNT(1)
        FROM user
        WHERE StaffTel = #{tel}
          AND StaffID != #{staffID}
    </select>

    <!-- 新增 -->
    <insert id="insertStaff" parameterType="cn.yonyong.pojo.User">
        INSERT INTO user (
            StaffID, StaffName, StaffGender, StaffBirthday,
            StaffIDCard, AttendanceStatus,
            StaffDept, StaffTel, StaffPwd, StaffPosition, HireDate
        ) VALUES (
            #{staffID}, #{staffName}, #{staffGender}, #{staffBirthday},
            #{staffIDCard}, #{attendanceStatus},
            #{staffDept}, #{tel}, #{password}, #{staffPosition}, #{hireDate}
        )
    </insert>

    <!-- 更新：password 只有传了才改 -->
    <update id="updateStaff" parameterType="cn.yonyong.pojo.User">
        UPDATE user
        <set>
            StaffName = #{staffName},
            StaffGender = #{staffGender},
            StaffBirthday = #{staffBirthday},
            StaffIDCard = #{staffIDCard},
            AttendanceStatus = #{attendanceStatus},
            StaffDept = #{staffDept},
            StaffTel = #{tel},
            StaffPosition = #{staffPosition},
            HireDate = #{hireDate}
            <if test="password != null and password != ''">
                , StaffPwd = #{password}
            </if>
        </set>
        WHERE StaffID = #{staffID}
    </update>

    <!-- 删除 -->
    <delete id="deleteStaffByID">
        DELETE FROM user WHERE StaffID = #{staffID}
    </delete>

</mapper>
